div{
    margin: 1px 20px 10px 20px; 
    font-family: 'Courier New', Courier, monospace; 
    color: #04d31f; 
    font-style: italic;
}

p {
    margin: 10px 20px 50px 20px; 
    font-family: 'Courier New', Courier, monospace; 
    color: #000000; 
    font-style: italic;
}

.magas_kepek {
    float: right;
    width: 90px;
    height: 110px;
}

h6{
    margin: 1px 20px 1px 20px; 
    font-family: 'Courier New', Courier, monospace; 
    font-style: italic;
    text-align: end;
}